<!-- <h1>GOLD REQUEST DETAILS FORM</h1> -->
<body>
  <!-- <form action="/securing" method="GET" enctype="multipart/form-data">
      <br>
      RID Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="secure"><br>
      <input type="submit" value="CHECK"/>
</body> -->
<link href="app/views/pages/users/styling.css" rel="stylesheet"> 
  <form action="/validating" method="GET" enctype="multipart/form-data">
      <section class="get_in_touch">
          <h5 class="title">KYC STATUS</h5>
          <div class="container">
              <div class="contact-form row">
                  <div class="form-field col-lg-4">
                      <div class="lab">KN Number</div>
                      <input id="text" class="input-text" type="text" name="secure">
                  </div>
                  <div class="form-field col-lg-12">
                      <input class="submit-btn" type="submit" value="CHECK" name="">
                  </div>
              </div>
          </div>
      </section>
      </form>
  </body>