<!-- <form action="/uploadpicture" method="POST" enctype="multipart/form-data">
        <br>
         Select Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" name="secur"><br>
        <br>
         Select Time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="time" name="secur1"><br>
         <br>
    <input class="btn btn-primary" type="submit" value="submit">
</form> -->

<link href="app/views/pages/users/styling.css" rel="stylesheet"> 
<body>
    <form action="/uploadpicture" method="POST" enctype="multipart/form-data">
        <section class="get_in_touch">
            <h5 class="title">SCHEDULE SLOT</h5>
            <div class="container">
                <div class="contact-form row">
                    <div class="form-field col-lg-6">
                        <div class="lab">Date</div>
                        <input id="text" class="input-text" type="date" name="secur">
                    </div>
                    <div class="form-field col-lg-6">
                        <div class="lab">Time</div>
                        <input id="text" class="input-text" type="time" name="secur1">
                    </div>
                    <div class="form-field col-lg-12">
                        <input class="submit-btn" type="submit" value="CONFIRM" name="">
                    </div>
                </div>
            </div>
        </section>
        </form>
    </body>
